<div th:class="'dashboard bgcolored-alt'">
            
    <form  id="addNewTypeForm">
        <h2>Add New TypeCulture</h2>
        <p id="error">
        </p>
        <div th:class="input-group">
            <label for="nomTypeCulture">Nom TypeCulture</label>
            <input type="text" th:id="nomTypeCulture" name="nomTypeCulture" required>
        </div>
        <button type="submit" style="margin:0 auto;width: 95%;">OK</button>
    </form>
    <!-- <canvas th:id="salesChart" width="400" height="400"></canvas> -->
</div>
<script>
    document.getElementById('addNewTypeForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Empêche la soumission du formulaire par défaut

        // Récupère les valeurs des champs du formulaire
        const nomTypeCulture = document.getElementById('nomTypeCulture').value;
        var errorDiv = document.getElementById('error');

        // Construit un objet JSON avec les données du formulaire
        const formData = {
            nomTypeCulture: nomTypeCulture,
        };

        // Envoie les données du formulaire au backend Spring Boot en tant que JSON
        fetch('/cultures/types', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => {
            if (response.ok) {
                return response.json(); // Renvoie les données JSON du backend
            } else {
                error.innerHTML = "Error, try again";
                throw new Error('huhu Error try again');
            }
        })
        .then(data => {
            // Traite les données JSON renvoyées par le backend
            console.log(data);
            window.location.replace("/dashboard");
        })
        .catch(error => {
           // console.error('Error:', error);
            errorDiv.classList.add("error");
            errorDiv.style.width = "100%";
            errorDiv.style.display = "block";
            errorDiv.innerHTML = "Error, try again";
        });
    });
</script>
